body {
  background-color: grey;
}

h1 {
  color: purple;
}

.Generated-Div {
  background-color: red;
}

.Yellowed-Div {
  background-color: yellow;
}

p {
  font-weight: bold;
  font-size: large;
}

#Generate-btn {
  font-size: larger;
  font-weight: bold;
}